LantmaterietProxy_access = ''
LantmaterietProxy_access_opendata = ''
host = 'localhost:9200'
MATOMO_TOKEN_AUTH = ''
# matomo api token for the user 'utvecklare@isof.se' on https://matomo.isof.se
# MATOMO_TOKEN_AUTH = '9760ad0558e138add00e619d82674001'